// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.intro-code {
  white-space: pre;
  font-size: 1.25rem;
}

.constant {
  color: teal;
}

.method {
  color: #900;
  font-weight: 600;

  a {
    color: #900;
    font-weight: 600;
  }
}

.symbol {
  color: #990073;
}

.string {
  color: #d14 !important;
  a {
    color: #d14 !important;
  }
}
